<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    .class {
      color: rgb(73, 219, 36);
      font-size: 35px;
    }
  </style>
</head>
<body>
  <form [formGroup]="reactiveForm">
    <div class="form-group">
      <label for="empId">empId</label>
      <input type="text" class="form-control"name="empId" formControlName="empId"placeholder="Enter EMPId">
    </div>
    <div class="form-group">
      <label for="empName">empName</label>
      <input type="text" class="form-control"name="empName" formControlName="empName" placeholder="Enter EMPName">
    </div>

    <div class="form-group">
      <label for="docType">docName</label>
      <input type="text" class="form-control"name="docType" formControlName="docType" placeholder="Enter DocName">
    </div>

    <div class="form-group">
      <label for="docId">docType</label>
      <input type="text" class="form-control"name="docId" formControlName="docId" placeholder="Enter DocId" >
    </div>
    <div class="form-group">
      <label for="docData">docData</label>
      <input type="text" class="form-control"name="docData" formControlName="docData" placeholder="Enter Docdata" >
    </div>


    <div class="form-group">
      <label for="file">File Upload</label>
      <input type="file" class="form-control" (change)="onSelectFile($event)">
    </div>
    <button type="submit" class="btn btn-success" (click)="saveForm(reactiveForm)">Submit</button>
  </form>
  
</body>

</html>